<h1 class="Home-title">Welcome to the Todo homepage </h1>

<h3 class="Home-authenticate">
    IF You are new user, <%=link_to "sign up here" , new_user_path%>
</h3>

<h3 class="Home-authenticate">
    IF You are esitising user, <%=link_to "Log in here" , sessions_path%>
</h3>

