h1{
    font-size: 48px;
    line-height: 1.6;
}
h2{
    font-size: 34px;
    line-height: 1.4;
}
h3{
    font-size: 24px;
}
p{
    font-size: 20px;
    line-height: 1.2;
}

section{
    margin-bottom: 32px;
    margin-left: 32px;
}